* {
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
  }


body {
    width: 100%;
    height: 100%;
    background-color: #c2b6b6;
    background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
}   

#footer{
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    display: block;
    
}

/* .logo-container {
    display: table;
    float: center;
    background-image: url("/assets/website-images/slimset-imbi.png");
} */

#heatsink-logo {
    float: left;
    width: 400px;
    margin-left: 20px;
    margin-top: 5px;
}

#artist-logo {
    margin-top: 20px;
    float: right;
}

#game {
    width: 800px;
    height: 300px;
    margin: 0 auto;
    margin-top: 100px;
}

#cover-art{
    padding-top: 5%;
    padding-right: 15%;
    width: 500px;
    height: 500px;
    float: right;

}

#linkfire-widget {
    padding-top: 5%;
    padding-left: 15%;
    width: 500px;
    height: 800px;
    float: left;
}

